
.rightSide {

        width:50%;
        float: right;
        margin-right: 0px;
        margin-left: auto;
}

.rightSide table{
 border-collapse: collapse;
        border: 1px solid black;
}

.rightSide input {
  width: 100px;
  background: #2B4324;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;

  border-radius: 15px;
  border: 1p solid #999;
}

.rightSide input:hover {
  background: #8DC26F;
}

.rightSide button {
  width: 100px;
  background: #2B4324;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;

  border-radius: 15px;
  border: 1p solid #999;
}

.actions{
    float: left;
    margin-left: 0px;
   width:30%;
}

th {
    height: 50px;
}

.form {

        border: 1px solid #999;
        border: inset 1px solid #333;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
      background: #e9ff95; /* fallback for old browsers */
      background: -webkit-linear-gradient(right, #e9ff95, #e9ff95);
      background: -moz-linear-gradient(right, #e9ff95, #e9ff95);
      background: -o-linear-gradient(right, #e9ff95, #e9ff95);
      background: linear-gradient(to left, #e9ff95, #e9ff95);
      border: 1px solid #999;
      border: inset 1px solid #333;
      -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 90%;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


.actions button {
  width: 100px;
  margin-left:60%;
  background: #2B4324;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;

  border-radius: 15px;
  border: 1p solid #999;
}

button:hover {
  background: #8DC26F;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}




/* Background-color of the odd rows */
tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
tr:nth-child(even) {
	  background-color: #2C3446;
}

th {
	  background-color: #1F2739;
}



tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

 #map {
        height: 400px;
        width: 100%;
       }
 #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #000;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }


      #target {
        width: 345px;
      }


body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2B4324, #8DC26F);
  background: -moz-linear-gradient(right, #2B4324, #8DC26F);
  background: -o-linear-gradient(right, #2B4324, #8DC26F);
  background: linear-gradient(to left, #2B4324, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}