.leftpart{
    float: left;
    margin-left: 0px;
}

.showActivities{
   float: right;
   margin-right: 0px;
   margin-left: auto;
}

.requirements {
    display: none;
}

a:hover + .requirements {
    display: block;
}

button {
  width: 100px;
  background: #2B4324;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;

  border-radius: 15px;
  border: 1p solid #999;
}

button:hover {
  background: #8DC26F;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2B4324, #8DC26F);
  background: -moz-linear-gradient(right, #2B4324, #8DC26F);
  background: -o-linear-gradient(right, #2B4324, #8DC26F);
  background: linear-gradient(to left, #2B4324, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}