.blue { color: #185875; }
.yellow { color: #FFF842; }

th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}




/* Background-color of the odd rows */
tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
tr:nth-child(even) {
	  background-color: #2C3446;
}

th {
	  background-color: #1F2739;
}



tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }



body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #2B4324, #8DC26F);
  background: -moz-linear-gradient(right, #2B4324, #8DC26F);
  background: -o-linear-gradient(right, #2B4324, #8DC26F);
  background: linear-gradient(to left, #2B4324, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}