<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="css/login.css" rel="Stylesheet">
</head>
<body>
<div class="login-page">
    <div class="form">
    <form class="login-form" action="#" th:action="@{/login}" th:object="${userDto}" method="post">
        <h1>Authentication</h1>
        <input type="text" onfocus="this.value=''" placeholder="username" th:field="*{username}" /></p>
        <input type="password" onfocus="this.value=''"  placeholder="password"th:field="*{password}" /></p>
        <button name="login">Login</button>
        <div class = "validation" align = "center">
            <h4>Validation</h4>
            <p th:text="${valid}" /></p>
        </div>
    </form>

    </div>
</div>
</body>
</html>