<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quartermaster</title>
    <link th:href="@{/css/quartermaster.css}" rel="Stylesheet">
</head>
<body>



<div align = "right">
    <form action = "#" th:action="@{/quartermaster}" method = "post">
        <p><input type="submit" name="logout" value="Log Out" /> </p>
    </form>
</div>

<div class = "showRegs">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Regiment Code</th>
            <th>Stamina</th>
            <th>Strength</th>
            <th>Shooting</th>
            <th>Intelligence</th>
            <th>Medical Skills</th>
            <th>Type</th>
            <th>Detailed View</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="regiment : ${regiments}">
            <td th:text ="${regiment.id}"></td>
            <td th:text="${regiment.code}"></td>
            <td th:text="${regiment.stamina}"></td>
            <td th:text="${regiment.strength}"></td>
            <td th:text="${regiment.shooting}"></td>
            <td th:text="${regiment.intelligence}"></td>
            <td th:text="${regiment.medSkills}"></td>
            <td th:text="${regiment.typeName}"></td>
            <td>
                <form action="#" name="showRegiment" th:action="@{'/quartermaster/showRegiments/' + ${regiment.code}}"  method="post">
                    <button name="showRegiment">Detailed view</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="actions">
<div class="enlist">
    <div class="form">
    <h3>Enlist Regiment</h3>
        <form action="#" name="addConsultation" th:action="@{/quartermaster}"  method="post">
            <input type="text" onfocus="this.value=''" placeholder="code" name="code" id="code"/></p>
            <input type="password" onfocus="this.value=''" placeholder="password" name="password" id="password" /></p>
            <button name="enlistRegiment">Enlist Regiment</button>
        </form>
    </div>
</div>



<div class="sendToWar">
    <div class="form">
        <h3>Send Regiments</h3>
        <form action="#" name="sendToWar" th:action="@{/quartermaster}"  method="post">
            <input type="text" onfocus="this.value=''" placeholder="regiment code" name="sendToWarCode" id="sendToWarCode"/></p>
            <button name="sendToWar" onclick="return confirm ('Are you sure?')">Send To War</button>

        </form>
    </div>
</div>



<div class = "setRequirements">
    <div class="form">
        <h3>Set Requirements</h3>
        <form action="#"  autocomplete="off"  name="setRequirements" th:action="@{/quartermaster}"    method="post">
            <input type="text"  onfocus="this.value=''" placeholder="regiment code" name="requirementRegimentCode" id="requirementRegimentCode" /></p>
            <input type="text" th:field="*{requirementDto.requiredStrength}" onfocus="this.value=''" placeholder="strength" value="none"  name="strength" id="strength" /></p>
            <input type="text" th:field="*{requirementDto.requiredStamina}"  onfocus="this.value=''" placeholder="stamina" name="stamina" id="stamina" /></p>
            <input type="text" th:field="*{requirementDto.requiredIntelligence}" onfocus="this.value=''" placeholder="intelligence" name="intelligence" id="intelligence" /></p>
            <input type="text" th:field="*{requirementDto.requiredShooting}" onfocus="this.value=''" placeholder="shooting" name="shooting" id="shooting" /></p>
            <input type="text" th:field="*{requirementDto.requiredMedSkills}" onfocus="this.value=''" placeholder="med skills" name="medSkills" id="medSkills" /></p>

            <button name="setRequirements" onclick="return confirm ('Are you sure?')">Set new requirements</button>
        </form>
    </div>
</div>


<div class = "addSupplies">
    <div class="form">
        <h3>Add More Supplies</h3>
        <form action="#"  autocomplete="off"  name="addSupplies" th:action="@{/quartermaster}"    method="post">
           <p> <input type="text"  onfocus="this.value=''" placeholder="regiment code" name="supplyRegimentCode" id="supplyRegimentCode" />
            <input type="text" th:field="*{supplyDto.food}" onfocus="this.value=''" placeholder="food" value="none"  name="food" id="food" />
            <input type="text" th:field="*{supplyDto.ammunition}"  onfocus="this.value=''" placeholder="ammunition" name="ammunition" id="ammunition" />
            <input type="text" th:field="*{supplyDto.equipment}" onfocus="this.value=''" placeholder="equipment" name="equipment" id="equipment" /></p>
        <button name="addSupplies" onclick="return confirm ('Are you sure?')">Add more supplies</button>
        </form>
    </div>
</div>
</div>
</body>
</html>