<!DOCTYPE html>
<html   lang = "en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegimentCommander</title>
    <link th:href="@{/css/regimentCommander.css}" rel="Stylesheet">
</head>
<body>

<div align = "right">
    <form action = "#" th:action="@{/regimentCommander}" method = "post">
        <p><input type="submit" name="logout" value="Log Out" /> </p>
    </form>
</div>
<form action="#" th:action="@{/regimentCommander/schedule}" method="post">
    <input type="submit" name="schedule" value="Make Schedule" >
</form>


</body>
</html>