<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Regiments</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Regiment Code</th>
        <th>Stamina</th>
        <th>Strength</th>
        <th>Shooting</th>
        <th>Intelligence</th>
        <th>Medical Skills</th>
        <th>Type</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="regiment : ${regiments}">
        <td th:text ="${regiment.id}"></td>
        <td th:text="${regiment.code}"></td>
        <td th:text="${regiment.stamina}"></td>
        <td th:text="${regiment.strength}"></td>
        <td th:text="${regiment.shooting}"></td>
        <td th:text="${regiment.intelligence}"></td>
        <td th:text="${regiment.medSkills}"></td>
        <td th:text="${regiment.typeName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>